/* 
* @Author: anchen
* @Date:   2022-12-16 14:38:50
* @Last Modified by:   anchen
* @Last Modified time: 2022-12-16 23:49:50
*/
html,body{
 /*   height: 100%;*/
    width: 100%;
}
body{
    background-image: url("../images/bc.PNG");
    background-size:cover;
   
 /*   margin:0;
    padding:0;
    color:#FFF;
    font-family：'Helvetica Neue',sans-serif;
    position:relative;*/
}
#title{
    position:absolute;
    bottom:20%;
    left:8%;
    top: 10%;
    /*left:8%;*/
}
#container{
    position:absolute;
    bottom:5%;
    width: 100%;
    overflow:auto;
}
#title h1{
    font-size: 56px;
    text-transform: uppercase;
}
#title ul{
    margin:0;
    padding:0;
    list-style: none;
}
#title li{
    display:inline-block;
}
#title li a{
    color:black;
}
#scroll{
    width: 3200px;
    overflow: hidden;
    overflow-x: auto;
    height:300px;
    background:rgba(0, 0, 0, .2);
}
#scroll .article h1{
    font-weight: normal;
}
/*#scroll img{
margin-top: 30px;
width: 200px;
height: 200px;
}*/
.article {
    /* margin-right: 20px; */
    display:block;
    height: 300px;
    width: 800px;
    box-sizing: border-box;
    padding-right: 30px;
    float: left;
}
img{
 /*   margin-top: 30px;*/
    margin-right: 20px;
    float:left;
    height: 300px;
    width: 300px;
}
